<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3 signup">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary submitsignup" %>
    <% end %>
  </div>
</div>

<script>

  $('.submitsignup').click(function() {
    $email = $(this).parent().children('#user_email').val()
    $name = $(this).parent().children('#user_name').val()
    mixpanel.alias($email);
    mixpanel.people.set({
    	"$email": $email,
    	"$name": $name
    })
  })

</script>